.control{
    position: absolute;
    top: 95%;
    left:30%;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    .control-elements{
        display: flex;       
        list-style-type: none;
        margin-left: 20px;
        font-weight: bold;

        .control-item{
            margin-right: 20px;
        }
    }
}